<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="logoHandle" class="navbar-brand" href="/">Gameboxd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="homeHandle" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a id="aboutHandle" class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a id="userHandle" class="nav-link" href="/signin">Sign In</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <input type="hidden" id="formHandle" name="token" value="">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <script>
    $(document).ready(function() {
      $('.navbar-toggler').on('click', function() {
        $('.navbar-collapse').toggleClass('show');
      });
    });
  </script>
  