<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/public/styles/generic_styling.css">
        <link rel="stylesheet" href="/public/styles/homepage.css">
        <title>Gameboxd</title>
    </head>
    <body id="main-body">
        <div id="main">
            <h1 class="center-text">Welcome to Gameboxd</h1>
        </div>
        
        <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>

        <script src="/public/containers/like_button.js"></script>
    </body>
</html>