<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/public/styles/homepage.css">
        <script src="/public/scripts/get-10-random-covers.js"></script>
        <script src="/public/scripts/get-game-data.js"></script>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Gameboxd</h1>
                <p>Welcome to Gameboxd</p>

                <div id="gallery-home"></div>
            </div>
        </main>

        <script>
            let userDiv = document.getElementById('userHandle');

            window.onload = (e) => {
                <% if(data.uid != -1) { %>
                    userDiv.setAttribute("href", "/profile");
                    userDiv.innerHTML = "Profile";
                <% } else { %>
                    userDiv.setAttribute("href", "/signin");
                    userDiv.innerHTML = "Sign In";
                <% } %>
            }
        </script>
    </body>
</html>